.jumbotron {
    background: #4DA0B0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: hsl(0, 0%, 90%);
}

#clara-frame {
    width: 100%;
    height: 100vh;
}